@charset "utf-8";

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
  }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}

/* Basic page container */
body {
    font-family: "Nunito", sans-serif;
    background-color: #f0f0f0f0;
}

:root {
        --app-white1-background: #fff;
        --app-white2-background: #f2f3f4;
        --app-black-color: #121111;     
  }
 
  ul {
    list-style-type: none;
  }
   
  li {
    display: inline;
  }
   
  a {
    text-decoration: none;
    color: var(--app-black-color);
  }

/* ---------------------------------- */
/* Header                             */
/* ---------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 72px;
    align-items: center;
    box-shadow: 0 0 5px #908f8f38;
    background-color: var(--app-white1-background);
    z-index: 1000;
  }
   
  header .container > div {
    line-height: 72px;
  }
   
  header nav a {
    line-height: 72px;
    margin-left: 35px;
  }
   
  .info-tab a+a {
    margin-left: 60px; 
  }

  .head-info {
    cursor: pointer;
  }
   
  .logo {
    color:#324e54;
    p {
      margin-left: 10px;
      line-height: 72px;
      color: #121111;
    }
   
    i {
      font-size: 32px;
      line-height: 72px;
    }
  }

  .fa-solid:hover{
    transform: scale(1.2);
  }

 /*----------------------------------
  Utility Class
----------------------------------*/
.flex {
    display: flex;
  }
   
  .space {
    justify-content: space-between;
  }
   
  .center {
    align-items: center;
    justify-content: center;
  }
   
  .margin-top {
    margin-top: 20px;
  }
  
  /*Main*/
main{
  padding: 100px 0 0 0;
  text-align: center;
  p {
    margin-top: 40px;
    font-size: 24px;
    color: #595a5e;
  }
}

.hero-banner {
  width: 100%;
  height: 100vh; 
  background-size: cover;
  background-position: center;
  display: flex;
 
  position: relative;
}

.hero-banner .intro-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;

  background-image: url('../img/world.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 

  h1 {
    font-family:'Lobster', cursive;
    font-size: 48px;
    margin-bottom: 20px;
    color: #8e4c87;
    margin-top: -150px; 
    } 
}

.hero-banner .intro-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;

  h1 {
    font-size: 36px;
    margin-top: -120px;
    margin-bottom: 20px;
    color: #141313;
  }
}

.welcome {
  width: 30%;
}

.photo-id {
  width: 250px;
  margin-top: 60px;
  border-radius: 50%;
}

.aboutme {
  margin-top: 0px;
  background-color: #f6f2f2;
  display: grid;
  grid-template-rows: auto auto; 
  justify-items: center; 
  h2 {
    margin-top: 10px;  
    color: #141313; 
    font-size: 36px;
    padding-top: 20px;
  }
  p {
    width: 57%;
    margin-top: 30px;
    padding-bottom: 150px;
  }
}

.knowledgecard {
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  background-color: var(--app-white1-background);
  margin-top: -100px; 
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  .fa-solid {
    color: #513394;
    font-size: 30px;
    margin-bottom: 10px;
  } 
}

.box {
  flex:1 1 20%; 
  padding: 20px;
  background-color: #faf7f7; 
  color: rgb(6, 6, 6);
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  p {
    margin-top: 10px;
    font-size: 18px;
  }
  .skill {
    margin-top: 20px;
    color:#513394 ;
    font-weight: 600;
  }
}

.mail-me h2{
  margin-top: 20px;
}

.mail-me p{
  margin-top: 20px;
}

.recentwork {
  margin: 20px 100px;
  display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  flex:1 1 25%;  
  background-color: #f2f2f2;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid #ccc; 
  margin: 10px;
  min-height: 250px;
  position: relative;
}


.image-1, .image-2, .image-3 {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%; 
  transition: opacity 1s ease, background-color 1s ease;
}

.image-1 {
  background-image: url('../img/shapefactory.JPG');
}

.image-2 {
  background-image: url('../img/calculator.JPG');
}

.image-3 {
  background-image: url('../img/contact.JPG');
}


.content {
  opacity: 0; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; 
  transition: opacity 1s ease; 
  visibility: hidden;
}

.content a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #f5f5f5;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}


.image-1:hover .content, .image-2:hover .content, .image-3:hover .content {
  opacity: 1; 
  visibility: visible;
}

.image-1:hover, .image-2:hover, .image-3:hover {
  background-color: #d3d3d3;
  background-image: none; 
  opacity: 0.8; 
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth; 
}

.contactme {
  text-align: center;
  min-height: 300px;
  background-color: #f9f7f7;
  padding-top: 20px;
} 

.contactme  h2 {
  font-size: 28px;
  
}

.contactme .contact-icon {
  width: 200px;  
  margin: 30px 50px;  
  transition: transform 0.3s ease;  
}

.contactme .contact-icon:hover {
  transform: scale(1.1); 
}

/* Footer */
footer {
  padding: 10px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  padding-left: 45%;
}

.fab:hover{
  transform: scale(1.2);
}

h4 {
  margin-bottom: 5px;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid;
  margin-top: 10px;
  font-size: 14px;
  color: #2e2e2e;
}

.fa-facebook{
  color: #1877F2;
}

.fa-twitter{
  color: #1DA1F2;
}

.fa-instagram{
  color: #833AB4;
}

.fa-youtube{
  color: #FF0000;
}

@media only screen and (max-width: 768px) {
  .hero-banner {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .intro-left, .intro-right {
      width: 100%;
  }

  .info-tab a {
      font-size: 14px;
  }

  .info-tab a+a {
    margin-left: 20px; 
  }

  .logo p {
      font-size: 20px;
  }

  .hero-banner .intro-right h1{
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-banner {
      flex-direction: row;
  }

  .aboutme {
      font-size: 18px;
  }

  .box {
      width: 48%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-banner {
      display: flex;
      justify-content: space-between;
  }

  .aboutme {
      max-width: 80%;
      margin: auto;
  }

  .box {
      width: 30%;
  }
}



